<!doctype html>
<html>
    <head>
        <title>TikTok Database Page</title>
        <style>
            table, th, td {
                border: 1px solid black;
            }
            th, td {
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Database:Prokopis</h1>
    	<h2>TikTokDataInfo Table</h2>
        <h3>Query: {{ val }}</h3>
        <TABLE>
        <TR>
            {% for your_list_element in my_val %}
                <th>{{ your_list_element }} </th>
            {% endfor %}
        </TR>
        {% for e in data %}
        <TR>
            {% for ko in e %}
                <th>{{ ko }} </th>
            {% endfor %}
        </TR>
        {% endfor %}
        </TABLE>
    </body>
</html>

