<!doctype html>
<html>
    <head>
        <title>TikTok Database Page</title>
    </head>
    <body style="background-color:powderblue;">
        <h3>TikTokVideoDataTable</h3>
        <form action="/Table1" method="post" >
          <input type='hidden' name='name' value='TikTokVideoDataTable'>
          <label for="Column(s) Name">Column(s) Name:</label><br>
          <input  type="text" id="Column(s)_Name" name="Column(s)_Name" value="" size="50"><br>
          <label for="Where_Condition">Where Condition:</label><br>          
          <input  type="text" id="Where_Condition" name="Where_Condition" value="" size="50"><br>
          <label for="Where_Condition">Having Condition:</label><br>          
          <input  type="text" id="Having_Condition" name="Having_Condition" value="" size="50"><br>
          <label for="query">Limit:</label><br>
          <input  type="text" id="LIMIT" name="LIMIT" value="" size="50"><br><br>
          <label for="Histogram">Histogram</label>
          <input type="checkbox" id="Histogram" name="Histogram"  value="Histogram" ><br><br>
          <label for="Orderby">Order by</label><br>
          <label for="Orderby">DESC</label>
          <input type="checkbox" id="Orderby" name="DESC"    value="Orderby" ><br>
          <label for="Orderby">ASC</label>
          <input type="checkbox" id="Orderby" name="ASC"  value="Orderby" ><br>
          <label for="Orderby">NONE</label>
          <input type="checkbox" id="Orderby" name="NONE"   value="Orderby" checked><br><br>
          <input type="submit" value="Submit">
        </form>
    </body>
</html>