<!doctype html>
<html>
    <head>
        <title>TikTok Database Page</title>
    </head>
    <body style="background-color:powderblue;">
        <h1>Database:Prokopis</h1>
        <h2>TikTokData</h2>
        <h3>VideoInfo</h3>
        <form action="/login" method="post" >
          <input type='hidden' name='name' value='TikTokVideoDataTable'>
          <input type="submit" value="Enter">
        </form>
        <br>  
        <h3>HashTagInfo</h3>
        <form action="/login" method="post" >
          <input type='hidden' name='name' value='TikTokVideoHashTagInfoTable'>
          <br><input type="submit" value="Enter">
        </form>   
        <br>
        <h3>WordInfo</h3>  
        <form action="/login" method="post" >
          <input type='hidden' name='name' value='TikTokVideoWord'>
          <br><input type="submit" value="Enter">
        </form>   
    </body>
</html>