<!doctype html>
<html>
    <head>
        <title>TikTok Database Page</title>
    </head>
    <body style="background-color:powderblue;">
        <h3>TikTokVideoHashtagInfoTable</h3>
        <form action="/Table2" method="post" >
          <label for="Creator">Creator Name:</label><br>
          <input  type="text" id="Creator" name="Creator" value="" size="50"><br>
          <input type='hidden' name='name' value='TikTokVideoHashTagInfoTable'>
          <label for="HashTag">HashTag:</label><br>
          <input  type="text" id="HashTag" name="HashTag" value="" size="50"><br>
          <label for="Start_Date">Start Date:</label><br>          
          <input  type="date" id="Start_Date" name="Start_Date" value="" size="50"><br>
          <label for="End_Date">End Date:</label><br>
          <input  type="date" id="End_Date" name="End_Date" value="" size="50"><br>
          <input name="Graphic Represantation" type="checkbox"  checked value="1" onclick="return false" />
          <label for="vehicle3">Graphic Represantation</label><br>
          <br><input type="submit" value="Submit">
        </form>   
    </body>
</html>