<!DOCTYPE html>
<html>
<style>
h2{
 font-size:40px !important;
}
</style>
<body style="background-color:DarkSeaGreen;">

<h2>Search Engine Lucene</h2>
<h4>Search by</h4>
<form action="/login" method="post">
  <div class="checkbox">
   <label>
 	    <input type="checkbox" name="ID" value="edit">ID<br><br>
 	    <input type="checkbox" name="Name" value="edit">Name<br><br>
      <input type="checkbox" name="Text" value="edit">Text<br><br>
   </label>
  </div>
  <label for="Query">Query:</label><br>
  <input type="Query" id="Query" name="Query" value="">
  <input type="submit" value="Submit">
</form> 


</body>
</html>
